TZPL2BarcodeCode128 BITMAP "icons\\barcode.bmp"
TZPL2BarcodeCode39 BITMAP "icons\\barcode.bmp"
TZPL2BarcodeDatamatrix BITMAP "icons\\datamatrix.bmp"
TZPL2BarcodeQR BITMAP "icons\\qrcode.bmp"
TZPL2GraphicBox BITMAP "icons\\box.bmp"
TZPL2GraphicCircle BITMAP "icons\\circle.bmp"
TZPL2GraphicDiagonalLine BITMAP "icons\\diagonal.bmp"
TZPL2GraphicEllipse BITMAP "icons\\ellipse.bmp"
TZPL2GraphicField BITMAP "icons\\image.bmp"
TZPL2CommentField BITMAP "icons\\comment.bmp"
TZPL2TextField BITMAP "icons\\text.bmp"